@use './partials/variables';
@use './partials/mixins';

body {
    background-image: url('/public/img/rolls_royce_black_badge_ghost_car_mountains_snow_nature_background_4k_5k_hd_cars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}